/*ICONO DE WHATSAPP*/

.img-wp{
    width: 200px / 2;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    opacity: 0.9;
    
    &:hover{
        transition: 2s;
        filter: sepia(100%);
    }
}

/*header*/
header{
    position: sticky;
}

/*footer*/
.texto-footer{
    display: inline-block;
    color: $colorDos;
}

.container-footer{
    background-color: #333;
    text-align: center;
    height: 100%;
}