/*formulario*/

@mixin formulario {
    background-color: $colorDos;
    border-radius: 20px - 10;
    margin-top: 30px + 10;
}

@mixin cards {

    &:hover{
        
    transition: 1s;
    transform:scale(1.1);
    }
    
}