/*Seccion Nosotros*/
.nosotros{
    width: 100%;
    font-weight: bold;
}

@import "variables";

.container-nosotros{
    margin: 5% 10%;
    background-color: $colorUno;
    border-radius: 25px;    
}
